
@font-face {
    font-family: lhline;
    src: url('fonts/lhline.otf') format('opentype');
}
@font-face {
    font-family: kor;
    src: url('fonts/kor.ttf') format('truetype');
}
@font-face {
    font-family: kana;
    src: url('fonts/kana.ttf') format('truetype');
}

html, body, head {
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  transition: height 1s ease, position 1s ease;
   -webkit-transition: height 1s ease, position 1s ease;
}

html {
  font: 1em/1.5 "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
    transition: height 1s ease, position 1s ease;
   -webkit-transition: height 1s ease, position 1s ease;
   -moz-transition: height 1s ease, position 1s ease;
}


nav a{
  -webkit-transition: .2s;
       -moz-transition: .2s;
        -ms-transition: .2s;
         -o-transition: .2s;
            transition: .2s;
}

nav:hover a{
  color:#FCF5E3;
  background-color: '#FCF5E3'
  opacity: .2;
}

nav a:hover{
  opacity: 1;
  background-color: #383636
  box-shadow: 0 0 1px 1px #383636;
}

.site nav a{
  padding:10px 50px;
  font-size:2em;
  display:inline-block
}
.site nav a:hover{
  background:#97CFC1;
  color: #383636;
}

.site nav{
  position:absolute;
  top:0;
  left:0;
  background:#383636;
  width:100%;
    transition: height 1s ease, position 1s ease;
   -webkit-transition: height 1s ease, position 1s ease;
/*   -moz-transition: height 1s ease, position 1s ease;*/
}

.site {
  padding: 10px 100px;
  text-align: center;
  background-color: #383636;
  font-family:'lhline';
  font-size: .5em;
  color: #444;
  position:relative;
    transition: height 1s ease, position 1s ease;
   -webkit-transition: height 1s ease, position 1s ease;
   -moz-transition: height 1s ease, position 1s ease;
}
.site a {
  color: #ECF0D6;
  text-decoration: none;
}

.head{
  height: 100vh;
  background:#FFFFFF;
  transition: height 1s ease, position 1s ease;
    -webkit-transition: height 1s ease, position 1s ease;
    -moz-transition: height 1s ease, position 1s ease;
}

layer{
  
}

#h1{
  position: relative!important;
  font-family:"lhline";
   top: 1rem!important;
    left: calc(vw/3)em!important;
    color: #5B585A;
    font-size: 4em;
    height: 150px; 
    width: 150px;
  background: rgba(0,0,0,0.00) !important;
}

#h2{
  position: relative!important;
  font-family:"lhline";
   top: 5rem!important;
   left: 20%!important;
    color: #5B585A;
    font-size: 2em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h3{
  position: relative!important;
  font-family:"kor";
   top: 5rem!important;
   left: 30%!important;
    color: #5B585A;
    font-size: 5em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h4{
  position: relative!important;
  font-family:"kana"!important;
   top: 5rem!important;
   left: 20%!important;
    color: #5B585A;
    font-size: 3em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h5{
  position: relative!important;
   top: 5rem!important;
   left: 70%!important;
    color: #5B585A;
    font-size: 7em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h6{
  position: relative!important;
  font-family:"lhline";
   top: 5rem!important;
   left: 30%!important;
    color: #5B585A;
    font-size: 6em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h7{
  position: relative!important;
  font-family:"lhline";
   top: 5rem!important;
   left: 50%!important;
    color: #5B585A;
    font-size: 4em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}
#h8{
  position: relative!important;
  font-family:"lhline";
   top: 5rem!important;
   left: 40%!important;
    color: #5B585A;
    font-size: 2em;
    height: 150px; 
    width: auto;
  background: rgba(0,0,0,0.00) !important;
}


.sections_container{
  transform: translateZ(0);
}

.exp_desc{
  left: 2rem !important;
max-height: 0px;
font-size: 1.5rem;
overflow: hidden;
}

.expitem {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  width: 100%;
  /*max-height: 3rem;*/
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: max-height .5s ease-out;
  -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
  text-align: left;
  overflow: hidden;
}
/*.expitem:hover {
  max-height: 50rem;
  
}*/

.para_container{
  padding: 100px 20px;
  overflow:hidden;
  align:right;
    position: relative;
    background-color:rgba(0,0,0,0);;
    margin: 0 0;
    min-height:100vh !important; /* Set to minimum height so overflow doesn't get hidden */
    width: 100vw;  
}

.paperlink {
  font-size: 1rem;
  color: #ECF0D6;
  z-index:100;
}

.bodysections{
      position: relative;
  min-height: 100vh;
}

.bodysections_bg{
  overflow: auto;
  min-height: 500vh;
  transform: translateZ(0px);
}

{'#45B6CC', '#FCF5E3', '#97CFC1', '#383636', '#F5F5F5'

}

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

input[type=checkbox] {
  position: absolute;
  left: -9999px;
  transition: max-height .5s ease-out;
  -webkit-transition: max-height .5s ease-out;
  -moz-transition: max-height .5s ease-out;
}

label {
  display: block;
  background: #383636;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  color: white;
  font-weight: bold;
}

input[type=checkbox]:checked ~ .exp_desc {
  max-height: 200vh;
  transition: max-height .5s ease-in;
  -webkit-transition: max-height .5s ease-in;
  -moz-transition: max-height .5s ease-in;
}

.para_text1_number{
  border-radius:10px;
  position:relative;
  top:0px;
  z-index:10;
  color:#383636;
  font-family:'lhline';
  font-size:16rem;
   width:100vw!important;
  background-color:rgba(255,255,255,0.6);
  overflow: auto;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.para_text1_title{
  border-radius:10px;
  position:relative;
  top:0px;
  left:0px;
  z-index:10;
  color:#F5F5F5;
  font-family:'lhline';
  font-size:3rem;
  width:100%;
  background-color:rgba(70,70,70,0.9);
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  padding:0px 10px 0px 10px;
}


.para_text2{
  font-family:lhline;
  font-size:2rem;
  background-color:rgba(70,70,70,0.62);
  border-radius:10px;
  overflow: auto;
  position:relative;
  height: auto;
  width:90%;
  top:20%;
  left:10%;
  padding:1em 0.5em 0.5em 1em;
  z-index:10;
  color:#F5F5F5;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

img{
  margin-right:20px
}

.badgecontainer{
  display:flex;
padding-top:2em;
padding-bottom:2em;
    justify-content: center; 
}

